[submodule "engine/source/third_party/glfw"]
	path = engine/source/third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/source/third_party/jemalloc-cmake"]
	path = engine/source/third_party/jemalloc-cmake
	url = https://github.com/jemalloc/jemalloc-cmake.git
[submodule "engine/source/third_party/mimalloc"]
	path = engine/source/third_party/mimalloc
	url = https://github.com/microsoft/mimalloc.git
